


.tittle {
    font-size: 1.5vw;
}

.tittle span {
    font-size: 5vw;
   
}




@media (max-width:1246px) {


    .information {
        display: none
    }

    
}

.containerTituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
 }

 @media (min-width:780px) {
    .containerTituloPrincipal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
     }
 }




@media (max-width:780px) {

    .menuBar {

        display: none;


    }

    .tittle {
        font-size: 4vw;
        text-align: center;
    }
    
    .tittle span {
        font-size: 12vw;
        text-align: center;
       
    }

 

   
}




.menuBarMovil {

        
    display: block;

  }
@media (min-width:780px) {

    .menuBarMovil {

        
        display: none;
  
      }

   
}




/* 

Landing
 */

