a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}